#nav {
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-bottom: 1px solid #363636;
  padding: 0.1em 1em;    position: fixed;
  width: 98%;
  margin-top: -75px;
}
.search-form{
  position: relative;
  width: 25%;
}
.search-form:focus-within .search-svg{
  display: none;
}
.search-svg{
  font-size: 12px;
  color: #969696;
  position: absolute;
  top: 8px;
  left: 6px;
}
.search-input{
  font-size: 14px;
  color: white;
  padding: 4px 8px;
  padding-left: 28px;
  background-color: #313131;
  border: none;
  border-radius: 5px;
  width: 100%;
}
@media(max-width: 500px){
  .search-form{
    width: 50%;
    margin-right: 86px;
  }
}
.search-input:focus{
  padding-left: 10px;
  width: 100%;
}

.photo-hover{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.photo-hover:hover{
  width: 22px;
  height: 22px;
}
.content-links{
  align-items: center;
  width: 35px;
  background-color: black;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.content-links:hover{
  background-color: #3b3b3b;
}


.nav-links {
  display: flex;
  align-items: center;
}
@media(max-width: 500px){
  .nav-links{
    display: none;
  }
}

.nav-links li {
  margin-right: 5px;
}
.nav-links span {
  font-size: 11px;
  cursor: pointer;
  color: white;
}
.nav-links span:hover{
  color: #5b5959;
}
.nav-links svg {
  font-size: 1.5em;
  color: white;
}
.nav-links svg:hover{
  font-size: 1.6em;
}
.logout{
  border-radius: 50%;
  width: 30px;
  align-items: center;
  height: 30px;
  color: black;
}
.logout:hover{
  background-color: #3b3b3b;
}
