.photo-item img {
  width: 100%;
}
.photo-item {

  background-color: black;
}

.photo-author {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.photo-author a {
  font-weight: bold;
}
