.photo-item img{
    margin-top: 50px;
    width: 100%;
}

#home .photo-item h2{
    margin-bottom: .2em;
}

.photo-author{
    text-align: left;
}

.photo-author a{
    font-weight: bold;
}