#home {
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 750px) {
  #home {
    width: 75%;
  }
}
@media (max-width: 500px) {
  #home {
    width: 100%;
  }
}

#home .btn {
  display: block;
  max-width: 80px;
  text-align: center;
  margin: 0.5em 0 2em 0;
}
.no-photos {
  text-align: center;
}
.no-photos a {
  color: #0094f6;
}
.container-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: black;
  border-bottom: 1px solid #3b3b3b;
  padding: 6px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.container-img h2 {
  font-size: 0.8rem;
  color: white;
}

.container-text {
  padding: 10px;
  background-color: black;
  border-bottom: solid 0.5px #363636;
}
.container-user {
  display: flex;
  align-items: center;
  gap: 5px;
}
.container-user h3 {
  font-size: 13px;
  color: #d0cccc;
  margin-top: 8px;
}
.content {
  margin-top: 16px;
}
.content-2 {
  position: relative;
  display: flex;
  flex-direction: column;
}
