.container {
  min-height: 70vh;
  margin-top: 75px;

}
.post {
  border-style: solid;
  border-color: #3b3b3b;
  margin-top: 10px;
  border-width: 1px;
  margin-bottom: 15px;
  border-radius: 10px;
}
