body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #121212;
  color: #fafafa;
}
a {
  font-size: 12px;
  font-weight: bold;
  color: #d0cccc;
  text-decoration: none;
}
p{
  color: #cfcaca;
  font-size: 13px;
}
h2 {
  color: #818181;
  font-size: 13px;
}
.active {
  font-weight: bold;
}
ul {
  list-style: none;
}
form {
  display: flex;
}
label {
  display: flex;
  flex-direction: column;
  text-align: left;
}
label span {
  font-weight: bold;
  margin-bottom: 0.5em;
  color: #aaa;
  font-size: 0.7em;
}
input {
  background-color: #3b3b3b;
  color: #aaa;
  border: 1px solid #555;
  border-radius: 2px;
  padding: 10px 8px;
  outline: none;
}
input::placeholder {
  color: #aaa;
}

input:disabled {
  cursor: not-allowed;
  background-color: black;
}
button:hover,
input[type='submit']:hover {
  opacity: 1;
}
.cancel-btn {
  background-color: #ccc;
}
.hide {
  display: none;
}
